
<div class="p-2 bg-light mb-2">
  <p> <%= params[:question] %></p>
  <p>- You</p>
</div>
<div class="p-2 bg-warning">
  <p> <%= @answers %></p>
  <p>- Your coach</p>
</div>
<%= link_to "Ask new question", "/ask" %>
